@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Heebo";
    color:rgba(33, 36, 61, 1);
}
h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 120%;
}
.wrapper{
    width: 856px;
    margin: 0 auto;
}
.clearfix{
    clear: both;
}
/*Меню*/
.first_menu{
    margin: 27px 0px;
}
.first_menu ul{
    float: right;
    list-style: none;
    margin-right: 60px;
}
.first_menu ul li{
    float: left;
    margin-left: 34px;
}
.first_menu ul li:first-of-type {
    margin-left: 0;
}

.first_menu a{
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}
/*ща контент будет*/
.first_content{
    margin-top: 127px;
    margin-bottom: 71px;
}
.first_left{
    float: left;
    width: calc(100% - 243px);
    padding-right: 115px;
}
.first_right{
    float: right;
    width: 243px;
}

.first_image img{
    max-width: 100%;
    border-radius: 50%;
    background: #EDF7FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.first_left p{
    margin-top: 40px;
}
.first_left .button{
    margin-top: 38px;
}

/*Кнопка*/
.button {
    display: inline-block;
    border: none;
    text-decoration: none;
    background-color: #FF6464;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 20px;
    line-height: 47px;
    margin-bottom: 74px;
}
/*какая то соло хуйня*/
.second{
    background-color: #EDF7FA;
    height: 394px;
}
.first_top p{
    float: left;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: black;
    margin: 21px 0px;
}
.first_top a{
    float: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
    text-decoration: none;
    padding-top: 27px;
}
/*теперь блоки*/
.left{
    float: left;
}
.right{
    float: right;
}
.block{
    height: 295px;
    width: calc(50% - 10px);
    background-color: white;
    margin-bottom: 61px;
}
.block h2{
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: black;
    padding-top: 24px;
    padding-left: 21px;
}
.block p{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-top: 26px;
    padding-left: 21px;
}
.block .text_in_block{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    padding-right: 27px;
}
/*третий блок детка*/

.third_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #21243D;
    margin-bottom: 36px;
}
.image3{
    max-width: 100%;
    float: left;
    margin-bottom: 15px;
    border-radius: 6px;
}
.third_content{
    width: calc(100% - 246px);
    padding-left: 16px;
    float: right;
}
.third_content h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;  
    color: #21243D;
    padding-bottom: 20px;
}
.third_content .text3_1{
    display: inline-block;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    padding: 1px 10px;
}
.third_content .text3_2{
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    padding-left: 26px;
}
.third_content .text3_3{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    padding-top: 20px;
}
.border{
    border: 1px solid #E0E0E0;
    margin-bottom: 31px;
}
.border1{
    border: 1px solid #E0E0E0;
}
/*Наталья 4 блок стартуем*/
.photo{
    margin-top: 83px;
    margin-bottom: 26px;
}
.image4_1{
    float: left;
    padding-left: 313px;
    margin-left: 35px;
    padding-bottom: 26px;
}
.image4_2{
    float: left;
    margin-left: 35px;   
}
.footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #21243D;
    padding-left: 353px;
    padding-bottom: 54px;
}