@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Heebo";
    color:rgba(33, 36, 61, 1);
}
h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 120%;
}
@media (max-width: 576px){
    .wrapper{
        width: calc(100% -30px);
    }
}
.wrapper{
    width: calc(100% - 60px);
    max-width: 856px;
    margin: 0 auto;
}
.clearfix{
    clear: both;
}
/*Меню*/
.first_menu{
    margin: 27px 0px;
}
.first_menu a{
    transition: color 0.3s;
}
.first_menu a:hover,
.first_menu a.active{
    color: red;
}

.first_menu ul{
    float: right;
    list-style: none;
    margin-right: 60px;
}
.first_menu ul li{
    float: left;
    margin-left: 34px;
}
.first_menu ul li:first-of-type {
    margin-left: 0;
}

.first_menu a{
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}
@media (max-width:576px) {
    .first_menu ul{
        float: none;
        margin-right: 0px;
    }
    .first_menu ul li{
        float: none;
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-bottom: 4px;

    }
}
/*ща контент будет*/
.first_content{
    margin-top: 127px;
    margin-bottom: 71px;
}
.first_left{
    float: left;
    width: calc(100% - 243px);
    padding-right: 115px;
}
.first_right{
    float: right;
    width: 243px;
}

.first_image img{
    max-width: 100%;
    border-radius: 50%;
    background: #EDF7FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.first_left p{
    margin-top: 40px;
}
.first_left .button{
    margin-top: 38px;
}
.first_left .button:hover{
    background-color: #ff7c7c;
}
@media (max-width: 856px){
    .first_left{
        padding-right: 30px;
    }
}
@media (max-width: 700px){
    .first_left,
    .first_right{
        float: none;
        padding-right: 0px;
        width: 100%;
        text-align: center;
    }
    .first_left{
        padding-right: 0px;
    }
    .first_right{
        margin-top: 40px;
    }
}

/*Кнопка*/
.button {
    display: inline-block;
    border: none;
    text-decoration: none;
    background-color: #FF6464;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 20px;
    line-height: 47px;
    margin-bottom: 74px;
    transition: background-color 0.3s;
    cursor: pointer;
}
/*какая то соло хуйня*/
.second{
    background-color: #EDF7FA;
    margin-bottom: 29px;
}
.first_top p{
    float: left;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: black;
    margin: 21px 0px;
}
.first_top a{
    float: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
    text-decoration: none;
    padding-top: 27px;
}
/*теперь блоки*/
.left{
    float: left;
}
.right{
    float: right;
}
.block{
    width: calc(50% - 10px);
    background-color: white;
    margin-bottom: 32px;
}
.block h2{
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: black;
    padding-top: 24px;
    padding-left: 21px;
}
.block p{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-top: 26px;
    padding-left: 21px;
    padding-bottom: 28px;
}
.block .text_in_block{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 0px;  
    padding-right: 27px;
}
@media (max-width:700px) {
    .second{
        margin-bottom: 29px;
        padding-bottom: 38px;
    }
    .block{
        width: 100%;
        padding-left: 11px;
        padding-right: 11px; 
    }
    .block p,
    .block h2{
        padding-left: 19px;
        padding-right: 19px;
        
    }
    .left{
        margin-bottom: 17px;
    }
    .right{
        margin-bottom: 0px;
    }
    .left,
    .right{

        float: none;
    }
    
}
/*третий блок детка*/

.third_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #21243D;
    margin-bottom: 36px;
}
.image3{
    float: left;
    margin-bottom: 15px;
    border-radius: 6px;
    overflow: hidden;
}
.image3 img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
.image3 img:hover{
    transform: scale(1.3);
}
.third_content{
    width: calc(100% - 246px);
    padding-left: 16px;
    float: right;
}
.third_content h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;  
    color: #21243D;
    padding-bottom: 20px;
    transition: color 0.3s;
}
.third_content a{
    text-decoration: none;
}
.third_content h2:hover{
    color: #ff4e4e;
}
.work_year{
    margin-bottom: 17px;
}
.work_year .text3_1{
    display: block;
    width: 62px;
    float: left;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    padding: 1px 10px;
}
.work_year .text3_2{
    display: block;
    margin-left: 56px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    padding-left: 26px;
}
.work_year .text3_3{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    padding-top: 20px;
}
.border{
    border: 1px solid #E0E0E0;
    margin-bottom: 31px;
}
.border1{
    border: 1px solid #E0E0E0;
}
@media (max-width: 576px) {
    .third_content, .image3{
        float: none;
    }
    .image3{
        width: 100%;
    }
    .third_content{
        width: 100%;
        padding-left: 0;
    }
    .third_text{
        font-size: 16px;
        text-align: center;
    }
    .text3_2{
        margin-left: 50px;
    }
}
/*Наталья 4 блок стартуем*/
.photo{
    margin-top: 83px;
    margin-bottom: 26px;
    text-align: center;
}
.photo a{
    text-decoration: none;
    padding-right: 35px;
}
.photo img{
    transition: transform 0.3s;
}
.photo img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.photo a:last-of-type{
    padding-right: 0;
}

.footer{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #21243D;
}



/*блог хтмл*/

.blog h1{
    margin-top: 106px;
}
.blog .wrapper{
    width: calc(100% - 30px);
    max-width: 681px;
}

.blog .block {
    float: none;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid rgb(162, 162, 162);
}
.blog .block h2{
    padding-left: 0px;
}
.blog .block p{
    padding-left: 0px;
}
@media (max-width: 700px) {
    .blog .block{
        width: 100%;
    }
}
/*работа хтмл*/

.works h1{
    margin-top: 90px;
    margin-bottom: 50px;
}
.works .image3{
    margin-bottom: 47px;
}
.works .block1_1{
    margin-top: 50px;
}

/* теперь ебашим ссылку на работу */

.design .third_content .image3{
    float: none;
}
.design .wrapper{
    width: 100%;
    max-width: 681px;
}
.design .work_year{
    margin-top: 40px;
    margin-bottom: 25px;
}
.design .third_content{
    width: 100%;
    padding-left: 0;
    margin-bottom: 25px;
}
.design .text3_3{
    margin-bottom: 30px;
}
.design .image3{
    width: 100%;
}
.design h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.design .photo{
    margin-top: 20px;
}
.design .text3_1{
    background: rgb(255, 124, 124);
}

@media (max-width: 576px) {
    .design .wrapper{
        padding-left: 17px;
        padding-right: 17px;
    }
    .design h1{
        font-size: 30px;
    }

    
}